# Database
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Cloudinary (pour l'upload d'images produits)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Maxicash Payment
MAXICASH_MERCHANT_ID=
MAXICASH_MERCHANT_PASSWORD=

# Resend Email
RESEND_API_KEY=
